<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Songr</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <li>
        <h2 th:text="${album.title}">album</h2>
        <h3 th:text="${album.artist}">artist</h3>
        <li th:text="${album.songCount}">soung count</li>
        <li th:text="${album.length}">length</li>
        <img th:src="${album.imageUrl}"
         height="100">
<!--        <span th:text="${song : album.song}">-->
<!--            <li th:text="${song.title}"></li>-->
<!--        </span>-->

    </li>
<h3>Add Song</h3>
<form method="post" th:action="'/album/'+${album.album_id}+'/songs'">
    <label>Song Title</label>
    <input name="title" />
    <label>Track Number</label>
    <input name="trackNumber" type="number"/>
    <label>Length</label>
    <input name="length" type="number"/>
    <input type="submit" />
</form>
</body>
</html>