<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Songr</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<div th:each="album : ${albums}" class="albums">
    <li>
        <h2 th:text="${album.getTitle()}">album</h2>
        <h3 th:text="${album.getArtist()}">artist</h3>
        <img th:src="${album.getimageUrl()}"
             height="100">
        <li th:text="${album.getSongCount()}">soung count</li>
        <li th:text="${album.getlength()}">length</li>
    </li>
</div>

</body>
</html>